{% extends "admin/index.html" %}
{% load static %}
{% block mainbody %}

    {#  显示数据表格  #}
    <div class="layui-row layui-card">
        <div class="layui-card">
            <table id="team_member_apply_table" lay-filter="teamApplyTable"/>
        </div>
    </div>
    <script type="text/html" id="mainTableRowTool">
        <div class="layui-btn-container">
            <button type="button" id="deletTeamProject" class="layui-btn layui-btn-sm layui-bg-red"
                    lay-event="memberApplyFail" data-bs-toggle="modal" data-bs-target="#memberApplyModal">删除
            </button>
        </div>
    </script>


    <script type="text/javascript">
        let mainTable = layui.table;
        {# 表格渲染 #}
        let teamId = $('#team_manage_id').val()
        mainTable.render({
            elem: '#team_member_apply_table',
            url: '../projectinfo?method=getAllInfo&team_id=' + teamId,
            page: true,
            text: '查询不到数据',
            loading: true,
            totalRow: true,
            title: '加入队伍审核信息',
            types: 'checkbox',
            toolbar: '#mainTableToolBarDemo',
            cols: [[
                {checkbox: true, type: 'checkbox', fixed: 'left', event: 'selected'},
                {field: 'project_id', title: '项目Id', sort: true, fixed: 'left', hide: true},
                {field: 'project_name', title: '项目名称', sort: true, fixed: 'left', hide: false},
                {field: 'project_concact', title: '项目负责人', sort: true, fixed: 'left', width: 100},
                {field: 'project_concact_phone', title: '联系电话', sort: true, fixed: 'left', width: 120},
                {field: 'project_mem', title: '人数', sort: true, fixed: 'left', width: 90},
                {
                    field: 'project_area',
                    title: '服务区域',
                    sort: true,
                    width: 120,
                    fixed: 'left',
                    templet: function (obj) {
                        let serviceArea = obj.project_area;
                        let result;
                        $.ajax({
                            url: '../regioncode?method=getAreaAllNameByCode&area_code=' + serviceArea,
                            method: 'GET',
                            async: false,
                            dataType: "json"
                        }).done(function (datas) {
                            result = datas.result;
                        })
                        if (result == undefined) {
                            result = "";
                        }
                        return result;
                    }
                },
                {field: 'start_time', title: '开始时间', sort: true, fixed: 'left', width: 120},
                {field: 'end_time', title: '截止时间', sort: true, fixed: 'left', width: 120},
                {field: 'service_hour', title: '服务时长', sort: true, fixed: 'left', width: 90},
                {field: 'service_type', title: '服务类型', sort: true, fixed: 'left', width: 120},

                {field: 'right', title: '操作', align: 'center', toolbar: '#mainTableRowTool'},
            ]]
        })

        {# 每行工具栏的触发事件 #}

        function deleteProject(projectId) {
            $.ajax({
                url: '../projectinfo?method=deleteProject&project_id=' + projectId,
                method: 'GET',
                dataType: "json",
                success: function (data) {
                    layer.msg('操作成功', {time: 2000, anim: 5, icon: 1});
                    mainTableReloadAllDatas();
                }
            })
        }

        mainTable.on('tool(teamApplyTable)', function (obj) {
            let layEvent = obj.event;
            let rowData = obj.data;
            let projectId = rowData.project_id;
            console.log(layEvent);
            console.log(rowData);
            console.log(projectId);
            switch (layEvent) {
                case "memberApplyFail":
                    layer.confirm('你确定要删除项目名称为' + rowData.project_name + '的志愿项目', {
                        icon: 3,
                        btn: ['确定', '取消']
                    }, function (index) {
                        layer.close(index)
                        deleteProject(projectId)
                    })
                    break;
            }
        })


        function mainTableReloadAllDatas() {
            mainTable.reload('team_member_apply_table', {
                url: '../projectinfo?method=getAllInfo&team_id=' + $('#team_manage_id').val(),
                page: {
                    curr: 1
                },
                where: {}
            }, true)
        }

        function convertTimeWithTType(datetime) {
            let time = new Date(datetime)
            let year = time.getFullYear();
            let month = time.getMonth() + 1;
            let day = time.getDate();
            let hours = time.getHours();
            let min = time.getMinutes();
            let seconds = time.getSeconds();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            if (hours < 0) hours = '0' + hours;
            if (min < 10) min = '0' + min;
            if (seconds < 10) seconds = '0' + seconds;
            convertTime = year + '-' + month + '-' + day;
            return convertTime;
        }
    </script>



{% endblock mainbody %}