{% extends "admin/index.html" %}

{% block mainbody %}
    <div style="padding: 15px";>
        <div class="layui-card layui-panel">
            <table id="voluteer_table" lay-filter="volunteer"/>
        </div>
    </div>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button id="addEmpInfo" class="layui-btn layui-btn-sm layui-bg-green" lay-event="add" data-bs-toggle="modal" data-bs-target="#addEmpInfoModal">添加</button>
            <button type="button" id="deleteMoreEmpInfo" class="layui-btn layui-btn-sm layui-bg-red" lay-event="moreDeleteX">批量删除</button>
            <button type="button" id="reserveSelected" class="layui-btn layui-btn-sm layui-bg-blue" lay-event="reserveSelected">反选</button>
        </div>
    </script>
    <script type="text/javascript">
        let data;
        $.ajax({

        })
        let table = layui.table;
        table.render({
            elem: '#voluteer_table',
            url: '../volunteer?method=getAllInfo',
            page: true,
            text: '查询不到数据',
            loading: true,
            totalRow: true,
            title: '志愿者信息',
            types: 'checkbox',
            toolbar:true,
            cols:[[
                {checkbox: true, type: 'checkbox', fixed: 'left'},
                {field: 'nick_name', title: '昵称', sort: true, fixed: 'left'},
                {field: 'user_name', title: '姓名', sort: true, fixed: 'left'},
                {field: 'id_card', title: '身份证号', sort: true, fixed: 'left'},
                {field: 'user_mail', title: '邮箱', sort: true, fixed: 'left'},
                {field: 'qq', title: 'QQ号', sort: true, fixed: 'left'},
                {field: 'hometown', title: '籍贯', sort: true, fixed: 'left'},
                {field: 'education', title: '学历背景', sort: true, fixed: 'left'},
                {field: 'position', title: '职业', sort: true, fixed: 'left'},
            ]]
        })
    </script>
{% endblock %}
