{% extends 'web/base_index.html' %}
{% load my_tag %}
{% load static %}
{% block userBody %}
    <style>

        .title-tag{
            border: 4px solid #FB3454;
        }

        .team-concact-title {
            font-size: 28px;
            font-weight: 600;
            padding: 20px;
        }

        .team-concact-title span {
            color: #009f95;
        }

        .team-concact-phone{
            font-size: 18px;
            font-weight: 600;
            padding: 20px;
        }

        .team-detail-btn {
            width: 30%;
            color: #FB3454;
            font-size: 14px;
            background-color: transparent;
            border: 1px solid #FB3454;
            border-radius: 5px;
            margin: 20px;
        }

        .team-detail-btn:hover {
            color: #F0F0F0;
            background-color: #FB3454;
            transition: all .3s ease;
        }

        .team-detail-btn:active {
            color: #FB3454;
            background-color: transparent;
            transition: all .3s ease;
        }

        .team-name-show {
            text-align: left;
            font-size: 26px;
            font-weight: 600;
        }

        .team-top-other-show {
            margin-top: 20px;
            color: #808080;
        }

        .team-top-other-show span{
            color: #333333;
            font-weight: bolder;
        }

        .team-other-show {
            margin-top: 15px;
            font-weight: 400;
            color: #808080;
        }

        .team-other-show span {
            margin-top: 15px;
            font-weight: 400;
            color: #333333;
            font-weight: bolder;
        }

    </style>
    <div class="row container" style="margin: -120px auto 0;">
        {% for team in teamInfo %}
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <img style="width: 100%" src="{% static 'assert/images/fj_vol_team.png' %}" alt="">
                    </div>
                    <div class="col-7 offset-1">
                        <div class="team-name-show"><span>{{ team.team_name }}</span></div>
                        <div class="team-top-other-show">队伍联络编号：<span>{{ team.team_id }}</span></div>
                        <div class="team-other-show">人员规模：<span>3</span></div>
                        <div class="team-other-show">正式人员：<span>5</span></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="team-other-show">区域：<span>{{ ''|area_convert:team.team_area }}</span></div>
                            <div class="team-other-show">成立日期：<span>{{ team.team_create_time|datetime_convert:team.team_create_time }}</span></div>
                            <div class="team-other-show">详细地址：<span>{{ ''|real_area_detail:team.team_area }}</span></div>
                        </div>
                        <div class="col">
                            <div class="team-other-show">加入方式：<span>验证信息加入（需审核申请）</span></div>
                            <div class="team-other-show">联络组织：<span style="color:#FB3454;">{{ ''|real_area_detail:team.team_area }}联合会</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div><span class="title-tag"></span>&nbsp;&nbsp;&nbsp;联系方式</div>
                <div class="team-concact-title">队伍联络人：<span>{{ team.team_concact }}</span></div>
                <div class="team-concact-phone">联系方式：<span>{{ team.team_concact_phone }}</span></div>
                <button class="team-detail-btn">给他发站内信</button>
                <button class="team-detail-btn">我要投诉</button>
                <div><span class="title-tag"></span>&nbsp;&nbsp;&nbsp;服务评价</div>
                <div class="team-concact-phone fw-normal fs-6">对项目开展培训的满意度：<span>5.0</span></div>
                <div class="team-concact-phone fw-normal fs-6">与志愿队伍合作的满意度：<span>5.0</span></div>
                <div class="team-concact-phone fw-normal fs-6">项目执行与计划的符合度：<span>5.0</span></div>
                <div><span class="title-tag"></span>&nbsp;&nbsp;&nbsp;队伍地址</div>
                <div class="team-concact-phone fw-normal fs-6">{{ ''|real_area_detail:team.team_area }}</div>
                <button class="team-detail-btn">查看地图</button>
            </div>
        {% endfor %}
    </div>
{% endblock userBody %}